/* https: //www.joshwcomeau.com/css/custom-css-reset/ */
/* Base styles */
blockquote > cite {
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Buttons */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0 0 15px;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

/* Summary */
summary {
    font-weight: bold;
}

/* Utility classes */
.mb-1 {
    margin-bottom: 10px;
}

.mt-1 {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

/* Container */
.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}
