/* Setup the web page structure  */
#header {
    background: pink;
    height: 100px;
}
#leftnav {
    background: orange;
    float: left;
    height: 500px;
    width: 20%;
}
#content {
    float: left;
}
#rightbar {
    background: blue;
    float: right;
    height: 500px;
    width: 20%;
}
#footer {
    background: green;
    height: 50px;
}