body {
    font-family: Arial, Helvetica, sans-serif;
}

h1.redHeader.pageHeader {
    text-align: center;
}

.redHeader {
    color : red;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
    color: red;
}
  
/* visited link */
a:visited {
    color: green;
}
  
/* mouse over link */
a:hover {
    color: hotpink;
}
  
/* selected link */
a:active {
    color: blue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

thead {
    background-color: #3056A0;
    color: white;
}

table.caption {
    font-weight: bold;
}

tfoot{
    font-size: 75%;
    text-align: right;
}

tbody.tr:nth-child(even) {
    background-color: #E6E6F5;
}

blockquote {
    border: 1px solid black;
}

blockquote > cite {
    text-transform: uppercase;
}
