h1.redHeader.pageHeader {
    text-align: center;
}

.redHeader {
    color : red;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
    color: red;
}
  
/* visited link */
a:visited {
    color: green;
}
  
/* mouse over link */
a:hover {
    color: hotpink;
}
  
/* selected link */
a:active {
    color: blue;
}

blockquote {
    border: 1px solid black;
}

blockquote > cite {
    text-transform: uppercase;
}
